<div class="modal calque_consultation_humain">
  <span class="modal-title">
    <h2 class="sTitreLibelle"></h2>
    <span class="close">
      <i class="material-icons">close</i>
    </span>
  </span>

  <div class="contenu_scroll">
    <div class="modal-content">
      <div class="grid">
        <div class="column-8">
          <div class="section-block">
            <div class="column-12 no-gutter">
              <span class="section-title">Identité</span>
            </div>

            <div class="column-12">
              <div class="column-6">
                <img src="" class="sUrlAvatar" />
              </div>

              <div class="column-6">
                <div class="form-field consultation">
                  <label>Nom : </label>
                  <span class="sNom"></span>
                </div>
                <div class="form-field consultation">
                  <label>Prénom : </label>
                  <span class="sPrenom"></span>
                </div>
                <div class="form-field">
                  <label>Etat de santé : </label>
                  <span class="sEtatSanteFormate"></span>
                </div>
                <div class="form-field consultation">
                  <label>Date de naissance : </label>
                  <span class="dDateNaissanceFormate"></span>
                </div>
                <div class="form-field consultation">
                  <label>Adresse : </label>
                  <span class="sAdresse"></span>
                </div>
                <div class="form-field consultation">
                  <label>Complément d'adresse : </label>
                  <span class="sAdresseComplement"></span>

                  <label>Ville : </label>
                  <span class="sCodePostalCommune"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column-4">
          <div class="column-12">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Armes à disposition</span>
              </div>

              <div class="column-12">
                <ul class="bloc-armes-humain">
                  <li class="clone"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="column-6">
          <div class="section-block">
            <div class="column-12 no-gutter">
              <span class="section-title">Caractéristiques</span>
            </div>

            <div class="column-12">
              <div class="form-field consultation">
                <label>Intelligence : </label>
                <span class="sIntelligenceFormate"></span>
              </div>

              <div class="form-field consultation">
                <label>Sens Tactique : </label>
                <span class="sTactiqueFormate"></span>
              </div>

              <div class="form-field consultation">
                <label>Precision : </label>
                <span class="sPrecisionFormate"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="column-6">
          <div class="section-block">
            <div class="column-12 no-gutter">
              <span class="section-title">Personnalité</span>
            </div>

            <div class="column-12">
              <div class="form-field consultation">
                <label>Passionné de violence: </label>
                <span class="sPassionneViolenceFormate"></span>
              </div>

              <div class="form-field consultation">
                <label>Sociable: </label>
                <span class="sSociableFormate"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-action-bar">
        <span
          title="Modifier le humain"
          class="btn btn-secondary btn-picto btn_action action_humain_btn_ouverture_edition_humain"
        >
          <i class="material-icons">edit</i> <span>Modifier</span>
        </span>
        <span
          title="Supprimer le humain"
          class="btn btn-secondary btn-picto btn_supp module_humain liste_donnees_humain action_humain_btn_suppression_humain"
        >
          <i class="material-icons">delete</i> <span>Supprimer</span>
        </span>
      </div>
    </div>
  </div>
</div>
