<div class="modal calque_edition_humain">
  <span class="modal-title">
    <h2>Editer un humain</h2>
    <span class="close">
      <i class="material-icons">close</i>
    </span>
  </span>
  <div class="contenu_scroll">
    <div class="modal-content">
      <form
        name="formulaire_edition_humain"
        id="formulaire_edition_humain"
        method="POST"
        action="#"
      >
        <input type="hidden" name="szParams" class="szRegles" />

        <div class="grid">
          <div class="column-8">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Identité</span>
              </div>

              <div class="column-12">
                <div class="column-6">
                  <div class="ma_dropzone">
                    <span class="dropzone-titre"
                      >Cliquez ici ou faites glisser une photo</span
                    >
                  </div>
                </div>

                <div class="column-6">
                  <div class="un_champ form-field">
                    <label for="sNomHumain">Nom</label>
                    <input
                      type="text"
                      placeholder=""
                      id="sNomHumain"
                      name="sNom"
                      class="sNom champ bdd_field_varchar e2d-mask e2d-format-varchar e2d-mask e2d-format-varchar"
                    />
                  </div>

                  <div class="un_champ form-field">
                    <label for="sPrenomHumain">Prénom</label>
                    <input
                      type="text"
                      placeholder=""
                      id="sPrenomHumain"
                      name="sPrenom"
                      class="sPrenom champ bdd_field_varchar e2d-mask e2d-format-varchar"
                    />
                  </div>

                  <div class="un_champ form-field">
                    <label for="sEtatSanteHumain">Etat de santé</label>
                    <div>
                      <select
                        name="sEtatSante"
                        id="sEtatSanteHumain"
                        class="sEtatSante selectmenu"
                      >
                        <option value="" class="clone"></option>
                      </select>
                    </div>
                  </div>

                  <div class="un_champ form-field">
                    <label for="dDateNaissanceHumain">Date de naissance</label>
                    <input
                      type="text"
                      placeholder="JJ/MM/AAAA"
                      id="dDateNaissanceHumain"
                      name="dDateNaissance"
                      class="dDateNaissanceFormate champ bdd_field_date e2d-mask e2d-format-date datepicker"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column-4">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Localisation</span>
              </div>

              <div class="column-12">
                <div class="column-12">
                  <div class="form-field">
                    <label>Adresse</label>
                    <input
                      type="text"
                      name="sAdresse"
                      class="sAdresse champ bdd_field_varchar e2d-mask e2d-format-varchar e2d-mask e2d-format-varchar"
                    />
                  </div>

                  <div class="form-field">
                    <label>Complément d'adresse</label>
                    <input
                      type="text"
                      name="sAdresseComplement"
                      class="sAdresseComplement champ bdd_field_varchar e2d-mask e2d-format-varchar e2d-mask e2d-format-varchar"
                    />
                  </div>

                  <div class="form-field">
                    <label>Ville</label>
                    <select
                      class="select-ville nIdCommune champ"
                      name="nIdCommune"
                    >
                      <option class="clone"></option>
                    </select>
                  </div>

                  <div class="column-6">
                    <div class="form-field">
                      <label>Latitude</label>
                      <input
                        type="text"
                        name="fLatitude"
                        class="fLatitude champ"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="column-6">
                    <div class="form-field">
                      <label>Longitude</label>
                      <input
                        type="text"
                        name="fLongitude"
                        class="fLongitude champ"
                        readonly
                      />
                    </div>
                  </div>

                  <div class="column-12 no-gutter" style="text-align: center;">
                    <span
                      title="Géolocaliser une adresse"
                      class="btn btn-picto btn-light bouton_simple btn_picto_font btn_ouverture_geolocalisation"
                    >
                      <i class="material-icons">gps_fixed</i>
                      <span>Géolocaliser</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column-4">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Armes:</span>
              </div>

              <div class="column-12">
                <div class="un_champ form-field bloc-arme-humain">
                  <div class="checkbox-row clone">
                    <input
                      type="checkbox"
                      name="aArmes[]"
                      id="aArmes"
                      class="checkbox"
                    />
                    <label for="aArmes">Pistolet</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column-6">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Personnalité</span>
              </div>

              <div class="column-12">
                <div class="column-6">
                  <div class="form-field">
                    <label>Passionné de violence ?</label>
                    <div class="switch">
                      <input
                        type="hidden"
                        value="0"
                        name="nPassionneViolence"
                      /><span class="switch-action-name">Non</span>
                      <input
                        type="checkbox"
                        id="switch-seance-passionne-violence"
                        name="nPassionneViolence"
                        value="1"
                        class="nPassionneViolence champ bdd_field_tinyint"
                      />
                      <label
                        for="switch-seance-passionne-violence"
                        class="nPassionneViolence"
                      ></label>
                      <span class="switch-action-name">Oui</span>
                    </div>
                  </div>
                </div>

                <div class="column-6">
                  <div class="form-field">
                    <label>Sociable ?</label>
                    <div class="switch">
                      <input type="hidden" value="0" name="nSociable" /><span
                        class="switch-action-name"
                        >Non</span
                      >
                      <input
                        type="checkbox"
                        id="switch-seance-sociable"
                        name="nSociable"
                        value="1"
                        class="nSociable champ bdd_field_tinyint"
                      />
                      <label
                        for="switch-seance-sociable"
                        class="nSociable"
                      ></label>
                      <span class="switch-action-name">Oui</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column-12">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Caractéristiques</span>
              </div>

              <div class="column-12">
                <div class="column-4">
                  <div class="form-field">
                    <label>Intelligence</label>
                    <div class="switch-multiple">
                      <input
                        type="radio"
                        name="nIntelligence"
                        class="nIntelligence first-state"
                        id="first-state-intelligence"
                        value="0"
                      />
                      <input
                        type="radio"
                        name="nIntelligence"
                        class="nIntelligence second-state"
                        checked=""
                        id="second-state-intelligence"
                        value="1"
                      />
                      <input
                        type="radio"
                        name="nIntelligence"
                        class="nIntelligence third-state"
                        id="third-state-intelligence"
                        value="2"
                      />
                      <label for="first-state-intelligence">Faible</label>
                      <label for="second-state-intelligence">Moyenne</label>
                      <label for="third-state-intelligence">Elevée</label>
                      <div class="slider-option"></div>
                    </div>
                  </div>
                </div>
                <div class="column-4">
                  <div class="form-field">
                    <label>Sens tactique</label>
                    <div class="switch-multiple">
                      <input
                        type="radio"
                        name="nTactique"
                        class="nTactique first-state"
                        id="first-state-tactique"
                        value="0"
                      />
                      <input
                        type="radio"
                        name="nTactique"
                        class="nTactique second-state"
                        checked=""
                        id="second-state-tactique"
                        value="1"
                      />
                      <input
                        type="radio"
                        name="nTactique"
                        class="nTactique third-state"
                        id="third-state-tactique"
                        value="2"
                      />
                      <label for="first-state-tactique">Faible</label>
                      <label for="second-state-tactique">Moyen</label>
                      <label for="third-state-tactique">Elevé</label>
                      <div class="slider-option"></div>
                    </div>
                  </div>
                </div>
                <div class="column-4">
                  <div class="form-field">
                    <label>Précision</label>
                    <div class="switch-multiple">
                      <input
                        type="radio"
                        name="nPrecision"
                        class="nPrecision first-state"
                        id="first-state-precision"
                        value="0"
                      />
                      <input
                        type="radio"
                        name="nPrecision"
                        class="nPrecision second-state"
                        checked=""
                        id="second-state-precision"
                        value="1"
                      />
                      <input
                        type="radio"
                        name="nPrecision"
                        class="nPrecision third-state"
                        id="third-state-precision"
                        value="2"
                      />
                      <label for="first-state-precision">Faible</label>
                      <label for="second-state-precision">Moyenne</label>
                      <label for="third-state-precision">Elevée</label>
                      <div class="slider-option"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <input type="hidden" class="btn-submit-dropzone" />
      <!-- Bouton caché qui déclenchera l'upload -->
    </div>
  </div>
  <div class="form-action-bar">
    <span
      title="Enregistrer l'humain"
      class="btn btn-secondary btn-picto btn_action action_humain_btn_enregistre_edition_humain"
    >
      <i class="material-icons">save</i> <span>Enregistrer</span>
    </span>
  </div>
</div>
