 
    <div class="div_table">
        <div class="barre_pictos action-bar">
            <div class="container-pagination"></div>
            <span title="Exporter la recherche" class="btn btn-primary btn-picto bouton_simple btn_picto_font btn-export">
                    <i class="material-icons">get_app</i> <span>Exporter la recherche</span>
                </span>
            <span title="Ajouter un élément" class="btn btn-primary btn-picto bouton_simple btn_picto_font btn_action action_humain_btn_ouverture_edition_humain variable_1_0">
                <i class="material-icons">note_add</i> Ajouter
            </span>
        </div>
        <form name="formulaire_selection_humains" id="formulaire_selection_humains" action="#" method="POST" target="_blank" class="cache">
                <textarea name="sIdsSelection" class="sIdsSelection"></textarea>
            </form>
    <table"
    class="material-table tableau_donnees liste_humain align_middle route_humain_json_recherche_humain variable_1_0 callback_humain_vCallbackListeElement">
        <thead>
            <tr>
                <th id="th_action">Action</th>
                <th id="th_nom" class="tri">Nom</th>
                <th id="th_prenom" class="tri">Prénom</th>
                <th id="th_date_naissance" class="tri">Date de naissance</th>
                <th id="th_ville">Ville</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clone">
                <td class="actions">
                    <span class="btn_consultation btn_action action_humain_btn_ouverture_consultation_humain">
                        <i class="material-icons">view_compact</i>
                    </span>
                </td>
                <td class="sNom"></td>
                <td class="sPrenom"></td>
                <td class="dDateNaissanceFormate"></td>
                <td class="sCodePostalCommune"></td>
            </tr>
            <tr class="aucun_resultat cache">
                <td colspan="5" class="align-center">aucun élément pour l'instant</td>
            </tr>
        </tbody>
        </table>

        <nav class="action-bar">
            <div class="container-pagination"></div>
        </nav>
    </div>