<div class="recherche">
  <form
    name="formulaire_recherche_humain"
    id="formulaire_recherche_humain"
    method="POST"
    action="#"
  >
    <div class="moteur_recherche">
      <div class="form-field">
        <label for="sNomHumainRch">Nom</label>
        <input
          type="text"
          placeholder=""
          id="sNomHumainRch"
          name="sNomRch"
          class="sNom champ bdd_field_varchar e2d-mask e2d-format-varchar"
          value=""
        />
      </div>
      <div class="form-field">
        <label for="sPrenomHumainRch">Prénom</label>
        <input
          type="text"
          placeholder=""
          id="sPrenomHumainRch"
          name="sPrenomRch"
          class="sPrenom champ bdd_field_varchar e2d-mask e2d-format-varchar"
          value=""
        />
      </div>
      <div class="form-field">
        <div class="grid">
          <div class="column-12 no-gutter">
            <label>Date de naissance</label>
          </div>
          <div class="column-6">
            <div>
              <label>Entre le </label>
            </div>
            <input
              type="text"
              placeholder="JJ/MM/AAAA"
              name="dDateNaissanceDebutRch"
              class="dDateNaissance bdd_field_date e2d-mask e2d-format-date datepicker"
            />
          </div>
          <div class="column-6">
            <div>
              <label> et le </label>
            </div>
            <input
              type="text"
              placeholder="JJ/MM/AAAA"
              name="dDateNaissanceFinRch"
              class="dDateNaissance champ bdd_field_date e2d-mask e2d-format-date datepicker"
            />
          </div>
        </div>
      </div>

      <div class="form-field">
        <label>Ville</label>
        <select class="select-ville" name="nIdCommuneRch">
          <option class="clone"></option>
        </select>
      </div>
    </div>
  </form>
</div>
