<div class="modal calque_consultation_zombie">
  <span class="modal-title">
    <h2 class="sTitreLibelle"></h2>
    <span class="close">
      <i class="material-icons">close</i>
    </span>
  </span>

  <div class="contenu_scroll">
    <div class="modal-content">
      <div class="grid">
        <div class="column-8">
          <div class="section-block">
            <div class="column-12 no-gutter">
              <span class="section-title">Identité</span>
            </div>

            <div class="column-12">
              <div class="column-6">
                <img src="" class="sUrlAvatar" />
              </div>

              <div class="column-6">
                <div class="form-field consultation">
                  <label>Nom : </label>
                  <span class="sNom"></span>
                </div>
                <div class="form-field consultation">
                  <label>Prénom : </label>
                  <span class="sPrenom"></span>
                </div>
                <div class="form-field">
                  <label>Décomposition : </label>
                  <span class="sEtatDecompositionFormate"></span>
                </div>
                <div class="form-field consultation">
                  <label>Date de zombification : </label>
                  <span class="dDateZombificationFormate"></span>
                </div>
                <div class="form-field consultation">
                  <label>Adresse : </label>
                  <span class="sAdresse"></span>
                </div>
                <div class="form-field consultation">
                  <label>Ville : </label>
                  <span class="sCodePostalCommune"></span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column-4">
          <div class="column-12">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Membres encore présents</span>
              </div>

              <div class="column-12">
                <ul class="bloc-membre-zombie">
                  <li class="clone"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="column-6">
          <div class="section-block">
            <div class="column-12 no-gutter">
              <span class="section-title">Capacités</span>
            </div>

            <div class="column-12">
              <div class="form-field consultation">
                <label>Intelligence : </label>
                <span class="sIntelligenceFormate"></span>
              </div>

              <div class="form-field consultation">
                <label>Vitesse : </label>
                <span class="sVitesseFormate"></span>
              </div>

              <div class="form-field consultation">
                <label>Agressivité : </label>
                <span class="sAgressiviteFormate"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="column-6">
          <div class="section-block">
            <div class="column-12 no-gutter">
              <span class="section-title">Personnalité</span>
            </div>

            <div class="column-12">
              <div class="form-field consultation">
                <label>Ami des humains : </label>
                <span class="sAmiHumainsFormate"></span>
              </div>

              <div class="form-field consultation">
                <label>Vegan : </label>
                <span class="sVeganFormate"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="column-12">
          <div class="section-block">
            <span class="section-title">Historique</span>

            <div class="section-control"></div>

            <div class="section-content">
              <div
                class="bloc_ajax module_logs id_bloc_widget_liste_logs"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-action-bar">
    <span
      title="Recruter le zombie"
      class="btn btn-secondary btn-picto btn_action btn_ouverture_recrutement_zombie action_zombie_btn_ouverture_recrutement_zombie"
    >
      <i class="material-icons">group_add</i> <span>Recruter</span>
    </span>
    <span
      title="Modifier le zombie"
      class="btn btn-secondary btn-picto btn_action action_zombie_btn_ouverture_edition_zombie"
    >
      <i class="material-icons">edit</i> <span>Modifier</span>
    </span>
    <span
      title="Supprimer le zombie"
      class="btn btn-secondary btn-picto module_zombie liste_donnees_zombie action_zombie_btn_suppression_zombie"
    >
      <i class="material-icons">delete</i> <span>Supprimer</span>
    </span>
  </div>
</div>
