<div class="modal calque_consultation_section">
  <span class="modal-title">
    <h2 class="sTitreLibelle"></h2>
    <span class="close">
      <i class="material-icons">close</i>
    </span>
  </span>

  <div class="contenu_scroll">
    <div class="modal-content">
      <div class="grid">
        <div class="column-8">
          <div class="section-block">
            <div class="column-12 no-gutter">
              <span class="section-title">Fiche de section</span>
            </div>

            <div class="column-12">
              <div class="form-field consultation">
                <label>Date de création : </label>
                <span class="dDateCreationFormate"></span>
              </div>
              <div class="form-field consultation">
                <label>Libellé : </label>
                <span class="sLibelle"></span>
              </div>
              <div class="form-field consultation">
                <label>Chef de section : </label>
                <span class="sChefSectionNomPrenom"></span>
              </div>
              <div class="form-field consultation">
                <label>Identifiant : </label>
                <span class="sIdentifiantChefSection"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-action-bar">
    <span
      title="Modifier la section"
      class="btn btn-secondary btn-picto btn_action action_zombie_btn_ouverture_edition_section"
    >
      <i class="material-icons">edit</i> <span>Modifier</span>
    </span>
    <span
      title="Supprimer la section"
      class="btn btn-secondary btn-picto btn_supp module_zombie liste_donnees_section action_zombie_btn_suppression_section"
    >
      <i class="material-icons">delete</i> <span>Supprimer</span>
    </span>
  </div>
</div>
