<div class="modal calque_edition_zombie">
  <span class="modal-title">
    <h2>Editer un zombie</h2>
    <span class="close">
      <i class="material-icons">close</i>
    </span>
  </span>

  <div class="contenu_scroll">
    <div class="modal-content">
      <form
        name="formulaire_edition_zombie"
        id="formulaire_edition_zombie"
        method="POST"
        action="#"
      >
        <input type="hidden" name="szParams" class="szRegles" />

        <div class="grid">
          <div class="column-8">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Identité</span>
              </div>

              <div class="column-12">
                <div class="column-6">
                  <div class="ma_dropzone">
                    <span class="dropzone-titre"
                      >Cliquez ici ou faites glisser une photo</span
                    >
                  </div>
                </div>

                <div class="column-6">
                  <div class="un_champ form-field">
                    <label for="sNomZombie">Nom</label>
                    <input
                      type="text"
                      placeholder=""
                      id="sNomZombie"
                      name="sNom"
                      class="sNom champ bdd_field_varchar e2d-mask e2d-format-varchar e2d-mask e2d-format-varchar"
                    />
                  </div>

                  <div class="un_champ form-field">
                    <label for="sPrenomZombie">Prénom</label>
                    <input
                      type="text"
                      placeholder=""
                      id="sPrenomZombie"
                      name="sPrenom"
                      class="sPrenom champ bdd_field_varchar e2d-mask e2d-format-varchar"
                    />
                  </div>

                  <div class="un_champ form-field">
                    <label for="sEtatDecomposition">Décomposition</label>
                    <div>
                      <select
                        name="sEtatDecomposition"
                        id="sEtatDecompositionZombie"
                        class="sEtatDecomposition selectmenu"
                      >
                        <option value="" class="clone"></option>
                      </select>
                    </div>
                  </div>

                  <div class="un_champ form-field">
                    <label for="dDateZombification"
                      >Date de zombification</label
                    >
                    <input
                      type="text"
                      placeholder=""
                      id="dDateZombification"
                      name="dDateZombification"
                      class="dDateZombificationFormate champ bdd_field_date e2d-mask e2d-format-date datepicker"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column-4">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Localisation</span>
              </div>

              <div class="column-12">
                <div class="column-12">
                  <div class="form-field">
                    <label>Adresse</label>
                    <input
                      type="text"
                      name="sAdresse"
                      class="sAdresse champ bdd_field_varchar e2d-mask e2d-format-varchar e2d-mask e2d-format-varchar"
                    />
                  </div>

                  <div class="form-field">
                    <label>Ville</label>
                    <select class="select-ville" name="nIdCommune">
                      <option class="clone"></option>
                    </select>
                  </div>
                </div>

                <div class="column-6">
                  <div class="form-field">
                    <label>Latitude</label>
                    <input
                      type="text"
                      name="fLatitude"
                      class="fLatitude champ"
                      readonly
                    />
                  </div>
                </div>

                <div class="column-6">
                  <div class="form-field">
                    <label>Longitude</label>
                    <input
                      type="text"
                      name="fLongitude"
                      class="fLongitude champ"
                      readonly
                    />
                  </div>
                </div>

                <div class="column-12 no-gutter" style="text-align: center;">
                  <span
                    title="Géolocaliser une adresse"
                    class="btn btn-picto btn-light bouton_simple btn_picto_font btn_ouverture_geolocalisation"
                  >
                    <i class="material-icons">gps_fixed</i>
                    <span>Géolocaliser</span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="column-3">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Membres encore présents</span>
              </div>

              <div class="column-12">
                <div class="un_champ form-field bloc-membre-zombie">
                  <div class="checkbox-row clone">
                    <input
                      type="checkbox"
                      name="aMembres[]"
                      id="aMembres"
                      class="checkbox"
                    />
                    <label for="aMembres">Bras gauche</label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column-4">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Capacités</span>
              </div>

              <div class="column-12">
                <div class="form-field">
                  <label>Intelligence</label>
                  <div class="switch-multiple">
                    <input
                      type="radio"
                      name="nIntelligence"
                      class="nIntelligence first-state"
                      id="first-state-intelligence"
                      value="0"
                    />
                    <input
                      type="radio"
                      name="nIntelligence"
                      class="nIntelligence second-state"
                      checked=""
                      id="second-state-intelligence"
                      value="1"
                    />
                    <input
                      type="radio"
                      name="nIntelligence"
                      class="nIntelligence third-state"
                      id="third-state-intelligence"
                      value="2"
                    />
                    <label for="first-state-intelligence">Idiot</label>
                    <label for="second-state-intelligence">Normal</label>
                    <label for="third-state-intelligence">Rusé</label>
                    <div class="slider-option"></div>
                  </div>
                </div>

                <div class="form-field">
                  <label>Vitesse</label>
                  <div class="switch-multiple">
                    <input
                      type="radio"
                      name="nVitesse"
                      class="nVitesse first-state"
                      id="first-state-vitesse"
                      value="0"
                    />
                    <input
                      type="radio"
                      name="nVitesse"
                      class="nVitesse second-state"
                      checked=""
                      id="second-state-vitesse"
                      value="1"
                    />
                    <input
                      type="radio"
                      name="nVitesse"
                      class="nVitesse third-state"
                      id="third-state-vitesse"
                      value="2"
                    /><label for="first-state-vitesse">Lent</label>
                    <label for="second-state-vitesse">Normal</label>
                    <label for="third-state-vitesse">Rapide</label>
                    <div class="slider-option"></div>
                  </div>
                </div>

                <div class="form-field">
                  <label>Agressivité</label>
                  <div class="switch-multiple">
                    <input
                      type="radio"
                      name="nAgressivite"
                      class="nAgressivite first-state"
                      id="first-state-agressivite"
                      value="0"
                    />
                    <input
                      type="radio"
                      name="nAgressivite"
                      class="nAgressivite second-state"
                      checked=""
                      id="second-state-agressivite"
                      value="1"
                    />
                    <input
                      type="radio"
                      name="nAgressivite"
                      class="nAgressivite third-state"
                      id="third-state-agressivite"
                      value="2"
                    />
                    <label for="first-state-agressivite">Faible</label>
                    <label for="second-state-agressivite">Normal</label>
                    <label for="third-state-agressivite">Elevée</label>
                    <div class="slider-option"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="column-5">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Personnalité</span>
              </div>

              <div class="column-12">
                <div class="column-6">
                  <div class="form-field">
                    <label>Ami des humains ?</label>
                    <div class="switch">
                      <input type="hidden" value="0" name="nAmiHumains" /><span
                        class="switch-action-name"
                        >Non</span
                      >
                      <input
                        type="checkbox"
                        id="switch-seance-ami-humains"
                        name="nAmiHumains"
                        value="1"
                        class="nAmiHumains champ bdd_field_tinyint"
                      />
                      <label
                        for="switch-seance-ami-humains"
                        class="nAmiHumains"
                      ></label>
                      <span class="switch-action-name">Oui</span>
                    </div>
                  </div>
                </div>

                <div class="column-6">
                  <div class="form-field">
                    <label>Vegan ?</label>
                    <div class="switch">
                      <input type="hidden" value="0" name="nVegan" /><span
                        class="switch-action-name"
                        >Non</span
                      >
                      <input
                        type="checkbox"
                        id="switch-seance-vegan"
                        name="nVegan"
                        value="1"
                        class="nVegan champ bdd_field_tinyint"
                      />
                      <label for="switch-seance-vegan" class="nVegan"></label>
                      <span class="switch-action-name">Oui</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <input type="hidden" class="btn-submit-dropzone" />
      <!-- Bouton caché qui déclenchera l'upload -->
    </div>
  </div>

  <div class="form-action-bar">
    <span
      title="Enregistrer le zombie"
      class="btn btn-secondary btn-picto btn_action action_zombie_btn_enregistre_edition_zombie"
    >
      <i class="material-icons">save</i> <span>Enregistrer</span>
    </span>
  </div>
</div>
