<div class="modal calque_edition_section">
  <span class="modal-title">
    <h2>Editer une section</h2>
    <span class="close">
      <i class="material-icons">close</i>
    </span>
  </span>

  <div class="contenu_scroll">
    <div class="modal-content">
      <form
        name="formulaire_edition_section"
        id="formulaire_edition_section"
        method="POST"
        action="#"
      >
        <input type="hidden" name="szParams" class="szRegles" />

        <div class="grid">
          <div class="column-8">
            <div class="section-block">
              <div class="column-12 no-gutter">
                <span class="section-title">Informations</span>
              </div>

              <div class="column-10">
                <div class="un_champ form-field">
                  <label for="sLibelle">Libellé</label>
                  <input
                    type="text"
                    placeholder=""
                    id="sLibelle"
                    name="sLibelle"
                    class="sLibelle champ bdd_field_varchar e2d-mask e2d-format-varchar e2d-mask e2d-format-varchar"
                  />

                  <div class="form-field">
                    <label>Chef de section</label>
                    <select class="select-zombie champ" name="nIdChefSection">
                      <option class="clone"></option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="form-action-bar">
    <span
      title="Enregistrer la section"
      class="btn btn-secondary btn-picto btn_action action_zombie_btn_enregistre_edition_section"
    >
      <i class="material-icons">save</i> <span>Enregistrer</span>
    </span>
  </div>
</div>
