<div class="div_table">
  <div class="barre_pictos action-bar">
    <div class="container-pagination"></div>
    <span
      title="Trombinoscope"
      class="btn btn-primary btn-picto bouton_simple btn_picto_font btn_action action_zombie_btn_ouverture_trombinoscope_zombie"
    >
      <i class="material-icons">face</i> <span>Trombinoscope</span>
    </span>
    <span
      title="Exporter la recherche"
      class="btn btn-primary btn-picto bouton_simple btn_picto_font btn-export"
    >
      <i class="material-icons">get_app</i> <span>Exporter la recherche</span>
    </span>
  </div>
  <form
    name="formulaire_selection_zombies"
    id="formulaire_selection_zombies"
    action="#"
    method="POST"
    target="_blank"
    class="cache"
  >
    <textarea name="sIdsSelection" class="sIdsSelection"></textarea>
  </form>
  <table
    id="liste_zombie"
    class="material-table tableau_donnees liste_zombie align_middle route_zombie_json_recherche_zombie variable_1_0 callback_zombie_vCallbackListeElement"
  >
    <thead>
      <tr>
        <th>Actions</th>
        <th id="th_nom" class="tri">Nom</th>
        <th id="th_prenom" class="tri">Prénom</th>
        <th id="th_section" class="tri">Section</th>
      </tr>
    </thead>
    <tbody>
      <tr class="clone">
        <td class="actions">
          <span
            class="btn_consultation btn_action action_zombie_btn_ouverture_consultation_zombie"
          >
            <i class="material-icons">view_compact</i>
          </span>
        </td>
        <td class="sNom"></td>
        <td class="sPrenom"></td>
        <td class="sSection"></td>
      </tr>
      <tr class="aucun_resultat cache">
        <td colspan="4" class="align-center">aucun élément pour l'instant</td>
      </tr>
    </tbody>
  </table>
  <nav class="action-bar">
    <div class="container-pagination"></div>
    <span
      title="Exporter la recherche"
      class="btn btn-primary btn-picto bouton_simple btn_picto_font btn-export"
    >
      <i class="material-icons">get_app</i> <span>Exporter la recherche</span>
    </span>
    <span
      title="Ajouter un élément"
      class="btn btn-primary btn-picto bouton_simple btn_picto_font btn_action action_zombie_btn_ouverture_edition_zombie variable_1_0"
    >
      <i class="material-icons">note_add</i> <span>Ajouter</span>
    </span>
  </nav>
</div>
