<div class="div_table">
  <div class="barre_pictos action-bar">
    <div class="container-pagination"></div>
    <span
      title="Ajouter un élément"
      class="btn btn-primary btn-picto bouton_simple btn_picto_font btn_action action_zombie_btn_ouverture_edition_section variable_1_0"
    >
      <i class="material-icons">note_add</i> Ajouter
    </span>
  </div>

  <table
    id="liste_section"
    class="material-table tableau_donnees liste_section align_middle route_zombie_json_recherche_section variable_1_0 callback_section_vCallbackListeElement"
  >
    <thead>
      <tr>
        <th>Actions</th>
        <th id="th_libelle" class="tri">Libellé</th>
        <th id="th_chef_section_nom_prenom" class="tri">Chef de section</th>
        <th id="th_date_creation" class="tri">Date de création</th>
      </tr>
    </thead>

    <tbody>
      <tr class="clone">
        <td class="actions">
          <span
            class="btn_consultation btn_action action_zombie_btn_ouverture_consultation_section"
          >
            <i class="material-icons">view_compact</i>
          </span>
        </td>
        <td class="sLibelle"></td>
        <td class="sChefSectionNomPrenom"></td>
        <td class="dDateCreationFormate"></td>
      </tr>
      <tr class="aucun_resultat cache">
        <td colspan="4" class="align-center">aucun élément pour l'instant</td>
      </tr>
    </tbody>
  </table>

  <nav class="action-bar">
    <div class="container-pagination"></div>
  </nav>
</div>
