<div class="recherche">
  <form
    name="formulaire_recherche_section"
    id="formulaire_recherche_section"
    method="POST"
    action="#"
  >
    <div class="moteur_recherche">
      <div class="form-field">
        <label for="sLibelleRch">Libellé</label>
        <input
          type="text"
          placeholder=""
          id="sLibelleRch"
          name="sLibelleRch"
          class="sLibelle champ bdd_field_varchar e2d-mask e2d-format-varchar"
          value=""
        />
      </div>

      <div class="form-field">
        <label>Chef de section</label>
        <select class="select-zombie" name="nIdChefSectionRch">
          <option class="clone"></option>
        </select>
      </div>

      <div class="form-field">
        <div class="grid">
          <div class="column-12 no-gutter">
            <label>Date de création</label>
          </div>
          <div class="column-6">
            <div>
              <label>Entre le </label>
            </div>
            <input
              type="text"
              placeholder="JJ/MM/AAAA"
              name="dDateCreationDebutRch"
              class="dDateCreation champ bdd_field_date e2d-mask e2d-format-date datepicker"
            />
          </div>
          <div class="column-6">
            <div>
              <label> et le </label>
            </div>
            <input
              type="text"
              placeholder="JJ/MM/AAAA"
              name="dDateCreationFinRch"
              class="dDateCreation champ bdd_field_date e2d-mask e2d-format-date datepicker"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
