<div class="recherche">
  <form
    name="formulaire_recherche_zombie"
    id="formulaire_recherche_zombie"
    method="POST"
    action="#"
  >
    <div class="moteur_recherche">
      <!-- Recherche cachée pour avoir uniquement la liste des soldats recrutés par le chef de section connecté -->
      <input type="hidden" name="bMesSoldatsRch" id="bMesSoldatsRch" />

      <div class="form-field">
        <label for="sNomZombieRch">Nom</label>
        <input
          type="text"
          placeholder=""
          id="sNomZombieRch"
          name="sNomRch"
          class="sNom champ bdd_field_varchar e2d-mask e2d-format-varchar"
          value=""
        />
      </div>
      <div class="form-field">
        <label for="sPrenomZombieRch">Prénom</label>
        <input
          type="text"
          placeholder=""
          id="sPrenomZombieRch"
          name="sPrenomRch"
          class="sPrenom champ bdd_field_varchar e2d-mask e2d-format-varchar"
          value=""
        />
      </div>
      <div class="form-field">
        <div class="grid">
          <div class="column-12 no-gutter">
            <label>Date de zombification</label>
          </div>
          <div class="column-6">
            <div>
              <label>Entre le </label>
            </div>
            <input
              type="text"
              placeholder="JJ/MM/AAAA"
              name="dDateZombificationDebutRch"
              class="dDateZombification champ bdd_field_date e2d-mask e2d-format-date datepicker"
            />
          </div>
          <div class="column-6">
            <div>
              <label> et le </label>
            </div>
            <input
              type="text"
              placeholder="JJ/MM/AAAA"
              name="dDateZombificationFinRch"
              class="dDateZombification champ bdd_field_date e2d-mask e2d-format-date datepicker"
            />
          </div>
        </div>
      </div>
      <div class="form-field">
        <label>Membres</label>
        <select
          class="select-membres sans_event non_convertible select2"
          multiple="multiple"
          name="aMembresRch[]"
        >
          <option class="clone"></option>
        </select>
      </div>
      <div class="form-field">
        <label>Intelligence</label>
        <div class="switch-multiple">
          <input
            type="radio"
            name="nIntelligenceRch"
            class="nIntelligence first-state"
            id="first-state-intelligence-rch"
            value="0"
          />
          <input
            type="radio"
            name="nIntelligenceRch"
            class="nIntelligence second-state"
            id="second-state-intelligence-rch"
            value="1"
          />
          <input
            type="radio"
            name="nIntelligenceRch"
            class="nIntelligence third-state"
            id="third-state-intelligence-rch"
            value="2"
          />
          <label for="first-state-intelligence-rch">Idiot</label>
          <label for="second-state-intelligence-rch">Normal</label>
          <label for="third-state-intelligence-rch">Rusé</label>
          <div class="slider-option"></div>
        </div>
      </div>
      <div class="form-field">
        <label>Vitesse</label>
        <div class="switch-multiple">
          <input
            type="radio"
            name="nVitesseRch"
            class="nVitesse first-state"
            id="first-state-vitesse-rch"
            value="0"
          />
          <input
            type="radio"
            name="nVitesseRch"
            class="nVitesse second-state"
            id="second-state-vitesse-rch"
            value="1"
          />
          <input
            type="radio"
            name="nVitesseRch"
            class="nVitesse third-state"
            id="third-state-vitesse-rch"
            value="2"
          /><label for="first-state-vitesse-rch">Lent</label>
          <label for="second-state-vitesse-rch">Normal</label>
          <label for="third-state-vitesse-rch">Rapide</label>
          <div class="slider-option"></div>
        </div>
      </div>
      <div class="form-field">
        <label>Agressivité</label>
        <div class="switch-multiple">
          <input
            type="radio"
            name="nAgressiviteRch"
            class="nAgressivite first-state"
            id="first-state-agressivite-rch"
            value="0"
          />
          <input
            type="radio"
            name="nAgressiviteRch"
            class="nAgressivite second-state"
            id="second-state-agressivite-rch"
            value="1"
          />
          <input
            type="radio"
            name="nAgressiviteRch"
            class="nAgressivite third-state"
            id="third-state-agressivite-rch"
            value="2"
          />
          <label for="first-state-agressivite-rch">Faible</label>
          <label for="second-state-agressivite-rch">Normal</label>
          <label for="third-state-agressivite-rch">Elevée</label>
          <div class="slider-option"></div>
        </div>
      </div>
      <div class="form-field">
        <label>Ami des humains ?</label>
        <div class="switch-multiple">
          <input
            type="radio"
            name="nAmiHumainsRch"
            class="nAmiHumains first-state"
            id="first-state-ami-humains-rch"
            value="1"
          />
          <input
            type="radio"
            name="nAmiHumainsRch"
            class="nAmiHumains second-state"
            id="second-state-ami-humains-rch"
            value="0"
          />
          <input
            type="radio"
            name="nAmiHumainsRch"
            class="nAmiHumains third-state"
            id="third-state-ami-humains-rch"
            value=""
            checked="checked"
          />
          <label for="first-state-ami-humains-rch">Oui</label>
          <label for="second-state-ami-humains-rch">Non</label>
          <label for="third-state-ami-humains-rch">NC</label>
          <div class="slider-option"></div>
        </div>
      </div>
      <div class="form-field">
        <label>Vegan ?</label>
        <div class="switch-multiple">
          <input
            type="radio"
            name="nVeganRch"
            class="nVegan first-state"
            id="first-state-vegan-rch"
            value="1"
          />
          <input
            type="radio"
            name="nVeganRch"
            class="nVegan second-state"
            id="second-state-vegan-rch"
            value="0"
          />
          <input
            type="radio"
            name="nVeganRch"
            class="nVegan third-state"
            id="third-state-vegan-rch"
            value=""
            checked="checked"
          />
          <label for="first-state-vegan-rch">Oui</label>
          <label for="second-state-vegan-rch">Non</label>
          <label for="third-state-vegan-rch">NC</label>
          <div class="slider-option"></div>
        </div>
      </div>
      <div class="form-field">
        <label>Ville</label>
        <select class="select-ville" name="nIdCommuneRch">
          <option class="clone"></option>
        </select>
      </div>
    </div>
  </form>
</div>
