<div class="modal calque_recrutement_zombie">
  <span class="modal-title">
    <h2>Selection de la section</h2>
    <span class="close">
      <i class="material-icons">close</i>
    </span>
  </span>

  <div class="contenu_scroll">
    <div class="modal-content">
      <form
        name="formulaire_recrutement_zombie"
        id="formulaire_recrutement_zombie"
        method="POST"
        action="#"
      >
        <input type="hidden" name="szParams" class="szRegles" />

        <div class="grid">
          <div class="column-8">
            <div class="section-block">
              <div class="form-field">
                <label>Section</label>
                <select class="select-section champ" name="nIdSection">
                  <option class="clone"></option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="form-action-bar">
      <span
        title="Choisir cette section"
        class="btn btn-secondary btn-picto btn_enregistre_recrutement_zombie action_zombie_btn_enregistre_recrutement_zombie"
      >
        <i class="material-icons">save</i> <span>Recruter</span>
      </span>
    </div>
  </div>
</div>
