<div class="modal calque_trombinoscope_zombie">
  <span class="modal-title">
    <h2 class="sTitreLibelle">Trombinoscope</h2>
    <span class="close">
      <i class="material-icons">close</i>
    </span>
  </span>

  <div class="contenu_scroll">
    <div class="modal-content">
      <div class="grid">
        <div class="column-3 clone">
          <div class="section-block">
            <div class="column-12 no-gutter">
              <span class="section-title"
                ><span class="sNom"></span> <span class="sPrenom"></span
              ></span>
            </div>
            <div class="column-12">
              <img src="" class="sUrlAvatar" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-action-bar"></div>
</div>
