.dropzone-titre {
  display: inline-block;
  margin-top: 50px;
  color: gray;
}

.ma_dropzone {
  padding: 0 !important;
  border: none !important;
  text-align: center;

  min-height: 150px !important;
  border: dashed 1px gray !important;
  border-radius: 5px;
  width: 150px;
  margin: auto;
}
.ma_dropzone .dz-preview {
  margin: 0;
}

.ma_dropzone .dz-preview .dz-remove {
  background-color: gray;
  color: #ffffff;
  padding: 3px;
}

.sUrlAvatar {
  width: 100%;
}
